In [1]:
import numpy as np
import pandas as pd

In [2]:
class_names = [
    'letter', 'form', 'email', 'handwritten', 'advertisement', 'scientific report', 'scientific publication',
    'specification', 'file folder', 'news article', 'budget', 'invoice', 'presentation', 'questionnaire', 'resume',
    'memo'
]
pd.DataFrame({
    'class': class_names
})

                     class
0                   letter
1                     form
2                    email
3              handwritten
4            advertisement
5        scientific report
6   scientific publication
7            specification
8              file folder
9             news article
10                  budget
11                 invoice
12            presentation
13           questionnaire
14                  resume
15                    memo

In [ ]:
label = [4, 6, 4, 8, 3, 8, 10, 11, 2, 4, 13, 2, 5, -1, 13, 9, 7, -1, -1, -1, -1, 9, -1, 6, -1, 2, 7, 3, 8, 1, 0, -1, 8, -1, -1, 6, 11, 8, 6, -1, 4, -1, -1, 3, 2, -1, 3, 2, -1, 2, -1, 0, 5, -1, ]